# Limpiador de lista y comentarios
***
Generalizar el listado, por ejemplo si aparece Cristian o CRISTIAN, tengan un mismo formato.

In [8]:
import pandas as pd
import re

In [ ]:
listado = pd.read_csv('CSV/Listado_profesores.csv')
listado.head()

,Nombre del profesor,Departamento,# Calificaciones,Promedio
0,NaN,NaN,0,NaN
1,"*A todos los pseudoalumnitos, Aunque me borren...",Computación,63,3.8
2,"Adan Sosa, Fanny",Sociales,15,8.6
3,"Aguilar García, Rafael",Programación,75,7.7
4,"Aguilar Sanchez, Fernando",NaN,131,8.5

In [3]:
listado["Nombre del profesor"]

0                                                    NaN
1      *A todos los pseudoalumnitos, Aunque me borren...
2                                       Adan Sosa, Fanny
3                                 Aguilar García, Rafael
4                              Aguilar Sanchez, Fernando
                             ...
452                                        Young Oh, Dae
453                         ZAGAL FLORES, ROBERTO ESWART
454                           Zarate Cardenas, Alejandro
455                         ZEKKOUR ZEKKOUR AHMED, AHMED
456                             Ávila-Sánchez, Christian
Name: Nombre del profesor, Length: 457, dtype: object

In [4]:
len(listado["Nombre del profesor"].unique())

446

In [9]:
def normalizar_nombre(nombre):
    if pd.isnull(nombre):
        return nombre
    nombre = nombre.replace(",", " ").replace("-", " ")
    return ' '.join(word.capitalize() for word in nombre.split())

def remover_acentos(nombre):
    if isinstance(nombre, str):
        nombre = re.sub(r'[áäâà]', 'a', nombre)
        nombre = re.sub(r'[éêèë]', 'e', nombre)
        nombre = re.sub(r'[íîìï]', 'i', nombre)
        nombre = re.sub(r'[óôòö]', 'o', nombre)
        nombre = re.sub(r'[úûùü]', 'u', nombre)
        nombre = re.sub(r'[ÁÀÄÂÃ]', 'A', nombre)
        nombre = re.sub(r'[ÉÈËÊ]', 'E', nombre)
        nombre = re.sub(r'[ÍÌÏÎ]', 'I', nombre)
        nombre = re.sub(r'[ÓÒÖÔÕ]', 'O', nombre)
        nombre = re.sub(r'[ÚÙÜÛ]', 'U', nombre)
    return nombre

In [6]:
listado["Nombre del profesor"] = listado["Nombre del profesor"].apply(normalizar_nombre)
listado["Nombre del profesor"]

0                                                    NaN
1      *a Todos Los Pseudoalumnitos Aunque Me Borren ...
2                                        Adan Sosa Fanny
3                                  Aguilar García Rafael
4                               Aguilar Sanchez Fernando
                             ...
452                                         Young Oh Dae
453                          Zagal Flores Roberto Eswart
454                            Zarate Cardenas Alejandro
455                          Zekkour Zekkour Ahmed Ahmed
456                              Ávila Sánchez Christian
Name: Nombre del profesor, Length: 457, dtype: object

In [3]:
comentarios = pd.read_csv('CSV/Comentarios_Profesores.csv')
comentarios.head()

,Profesor,Fecha,Calificación,Calidad General,Facilidad,Clase,Asistencia,Calificación Recibida,Interés en la Clase,Comentario,Útil,Inútil
0,Fanny Adan Sosa,29/Ene/2024,BUENO,10.0,8.0,Ingeniería Ética y Sociedad,No obligatoria,8.0,Alto,Exposiciones todo el semestre con diferentes e...,0,0
1,Fanny Adan Sosa,11/Jul/2023,BUENO,10.0,10.0,Inngenieria etica y sociedad,Obligatoria,10.0,Alto,"Es la mejor profesora que puede haber, las cla...",0,0
2,Fanny Adan Sosa,04/Jul/2023,BUENO,10.0,8.0,Gestión Empresarial,No obligatoria,9.0,Alto,"Grande la profesora, te deja tareas casi por s...",0,0
3,Fanny Adan Sosa,10/Feb/2023,BUENO,8.0,10.0,Ingenieria Etica y sociedad,No obligatoria,9.5,Medio,"Te dejara leer un libro todo el curso, ira dej...",0,0
4,Fanny Adan Sosa,23/Ene/2023,BUENO,10.0,10.0,Ingenieria etica y sociedad,Obligatoria,8.0,Medio,"Me hice medio wey y saque 8 jaja, en general d...",0,0

In [4]:
comentarios["Profesor"]

0                Fanny Adan Sosa
1                Fanny Adan Sosa
2                Fanny Adan Sosa
3                Fanny Adan Sosa
4                Fanny Adan Sosa
                  ...
13021    Christian Ávila-Sánchez
13022    Christian Ávila-Sánchez
13023    Christian Ávila-Sánchez
13024    Christian Ávila-Sánchez
13025    Christian Ávila-Sánchez
Name: Profesor, Length: 13026, dtype: object

In [13]:
len(comentarios["Profesor"].unique())

391

In [10]:
comentarios["Profesor"] = comentarios["Profesor"].apply(normalizar_nombre)
comentarios["Profesor"] = comentarios["Profesor"].apply(remover_acentos)
comentarios["Profesor"]

0                Fanny Adan Sosa
1                Fanny Adan Sosa
2                Fanny Adan Sosa
3                Fanny Adan Sosa
4                Fanny Adan Sosa
                  ...
13021    Christian Avila Sanchez
13022    Christian Avila Sanchez
13023    Christian Avila Sanchez
13024    Christian Avila Sanchez
13025    Christian Avila Sanchez
Name: Profesor, Length: 13026, dtype: object

In [11]:
comentarios.tail()

,Profesor,Fecha,Calificación,Calidad General,Facilidad,Clase,Asistencia,Calificación Recibida,Interés en la Clase,Comentario,Útil,Inútil
13021,Christian Avila Sanchez,19/Jun/2018,BUENO,10.0,10.0,Discretas,Obligatoria,9.0,Alto,Gran profesor con quien aprendes muy bien,0,1
13022,Christian Avila Sanchez,19/Ene/2018,BUENO,10.0,10.0,Matemáticas Discretas,No obligatoria,9.0,Alto,NaN,1,0
13023,Christian Avila Sanchez,10/Ene/2018,BUENO,10.0,8.0,Matemáticas Discretas,No obligatoria,9.0,Alto,Un profesor que realmente sabe transmitir cono...,0,0
13024,Christian Avila Sanchez,26/Dic/2017,BUENO,10.0,10.0,Matemáticas Discretas,No obligatoria,9.0,Alto,"Buen profesor, te da las facilidades para pasa...",0,0
13025,Christian Avila Sanchez,17/Dic/2017,BUENO,9.0,10.0,Computación e Información Cuántica,No obligatoria,10.0,Alto,"El profe explica bien,pero se necesitan tener ...",0,0

In [12]:
comentarios.to_csv('CSV/Comentarios_Profesores_Generalizado.csv', index=False)

In [13]:
listado.to_csv('CSV/Listado_profesores_Generalizado.csv', index=False)